<footer class="footer">
  <div class="row">

    <div class="col-md-3">
      <img src="./assets/images/logo.png">
      <div class="separator"></div>
      <p> magnam aliquam quaerat voluptatem. Utenim adminima veniam, quis nostrum exercitationem ul lam corporis</p>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-4"></div>

    <div class="separator"></div>

    <div class="col-md-4">
      <ul class="row ml-auto d-block media-sm">
        <li> Menu 4 </li>
        <li> Menu 3 </li>
        <li> Menu 2 </li>
        <li> Menu 1 </li>
      </ul>

      <div class="separator"></div>
      <div class="separator"></div>

      <ul class="row ml-auto d-block">
        <li> <a href="#"><img src="./assets/images/icon-youtube.png"></a> </li>
        <li> <a href="#"><img src="./assets/images/icon-instagram.png"></a> </li>
        <li> <a href="#"><img src="./assets/images/icon-twitter.png"></a> </li>
        <li> <a href="#"><img src="./assets/images/icon-facebook.png"></a> </li>
      </ul>

      <div class="separator"></div>
      <div class="separator"></div>

      <ul class="row ml-auto d-block">
        <li> <p class="p1">magnam aliquam quaerat voluptatem. Utenim</p> </li>
      </ul>

    </div>
  </div>
</footer>
