<nav class="navbar navbar-toggleable-md navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
    <img src="./assets/images/logo.png">
  </a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav ml-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#"> Menu 1 <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#"> Menu 2 </a>
      </li>

      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu 3
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Sub-menu-3-number 1</a>
          <hr>
          <a class="dropdown-item" href="#">Sub-menu-3-2</a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#"> Menu 4 </a>
      </li>
    </ul>
        <a class="nav-link" href="#"> <img src="./assets/images/icon-search.png"></a>
  </div>
</nav>