<div class="container-fluid div3">
  <h1 class="text-center margin">Quisnostrum exercitationem ulam corporis suscipit laboriosasimu, nisi ut aliquid?</h1>
  
  <div class="separator"></div>

  <div class="container">
    <form>
      <div class="form-group row">
        <div class="offset-md-3 col-md-5">
          <input type="email" class="form-control border-0 form-control-lg" placeholder="front-end@tunaiku.com">
        </div>
        <div class="col-md-1">
          <button class="btn btn-lg btn-primary border-0" type="submit" name="send" style="background-color: #2D4453;"> SEND </button>
        </div>
      </div>
    </form>
  </div>
</div>