.div3{
    background: #F2f2f2;
    width:100%;
    height: auto;
    padding: 50px;
}
.separator{
    height: 30px;
}
.margin{
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    line-height: 150%;
}

@media (max-width: 900px){
    .form-control{
        font-size: 1rem;
        font-weight: lighter;
    }

    .btn-lg{
        font-size: 1rem;
        font-weight: lighter;
        padding: 7px !important;
        margin: 2px;
    }
}